<Footer>
    <a href="https://www.coppel.com/acerca-de-nosotros">Acerca de nosotros</a>
    <a href="https://checkout.coppel.com/checkout/adicional/bolsa_trabajo/bolsa-trabajo.php">Trabaja con nosotros</a>
    <a>Politica de privacidad</a>
    <H3>Hola soy el footer</H3>
</Footer>