<header>
    <div>
        <img src="C.\public\img\logo.svg" alt="Logo">
        <input type="search">
        <img src="../../public/img/icons8-user-50.png" alt="User">
        <img src="../../public/img/icons8-shopping-cart-90.png" alt="Cart">
    </div>
</header>