<header>
    <div>
        <img id="logo" src="../img/logo.svg" alt="Logo">
        <div id="divSearch">
        <input id="search" name="q" type="search" placeholder="Buscar articulo">
            <button>Buscar</button>
        </div>
        <div id="DivUserCart">
        <img id="userIcon" src="../img/icons8-user-50.png" alt="User">
        <img id="cartIcon" src="../img/icons8-shopping-cart-90.png" alt="Cart">
    </div>
    </div>

</header>