<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compra todo lo que necesitas en Coppel.com, lo mejor en muebles, calzado y ropa, con entrega a domicilio a todo México y hasta 2 años de garantía."/>
		<meta name="keywords" content="coppel, tienda en línea, comprar en línea, comprar con crédito, celulares, calzado, electrónica, ropa, muebles, recámaras, hogar, línea blanca, crédito coppel, tienda departamental, juguetes"/>
		<meta name="pageName" content="HomePage"/>
		<meta name="pageIdentifier" content="HomePage"/>
    
    <link rel="stylesheet" href="../css/partials.css" type="text/css" media="all">
    
    <title>Coppel Dummy</title>
</head>
<%-include ("./partials/header.ejs") %>
<%-include ("./partials/banner.ejs") %>
<body>
    <h1>Soy el index</h1>
<%-include ("./partials/footer.ejs") %>
</body>
</html>